.Button.css

.btn-blue{
background-color: #4a69bb;

color: white;

padding: 15px 20px;

border-radius: 4px;
color: white;
font-weight: bold;
font-family: 'Roboto', sans-serif;
}









